body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #242d38;
    font-family: "Poppins", sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 36px;
    height: 60px;
    color: #efd592;
    border-bottom: 1px solid;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .box {
    max-width: 300px;
    background-color: #efd592;
    gap: 90px;
    padding: 40px;
    margin-top: 90px;
    color: #242d38;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .year {
    font-size: 18px;
    border-bottom: 1px solid;
  }
  .title {
    font-size: 36px;
  }
  .text {
    font-size: 18px;
  }
  .smallbox {
    width: 40px;
    height: 40px;
    background-color: #242d38;
    border: 1px solid #efd592;
    color: #efd592;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -70px;
    margin-left: 125px;
  }
  .btnContainer {
    text-align: center;
   
  }
  button {
    position: absolute;
    font-size: 14px;
    height: 60px;
    width: 250px;
    background-color: #242d38;
    border: 1px solid #efd592;
    color: #efd592;
    margin-left: -120px;
  }
  button:hover {
    background-color: #efd592;
    color: #242d38;
    border: 1px solid #242d38;
  }